.container {
  position: absolute;
  width: 100dvw;
  height: fit-content;
  transition: transform 0.25s;
}

.saturate {
  filter: saturate(0);
}

.off {
  transform: translateY(-40dvh);
}

.BtnArrowContainer {
  position: absolute;
  left: 50%;
  top: 32dvh;
  z-index: 1;
  transition: transform 0.5s, opacity 0.5s;
}

.opacity {
  transition: opacity 0.5s;
}
.opacityOff {
  opacity: 0;
}

.BtnArrowContainerOff {
  opacity: 0;
}

.BtnArrowContainerToStatistic {
  transform: translateY(70dvh);
}
