.container {
  position: absolute;
  width: 100dvw;
  /* height: fit-content; */
  height: 46dvh;
  transition: transform 0.25s;
  /* background-color: rgba(255, 105, 180, 0.461); */
}

.saturate {
  filter: saturate(0);
}

.off {
  transform: translateY(-40dvh);
}

.BtnArrowContainer {
  position: absolute;
  left: 50%;
  top: 32dvh;
  z-index: 1;
  transition: transform 0.5s, opacity 0.5s;
}

.opacity {
  transition: opacity 0.5s;
}
.opacityOff {
  opacity: 0;
  user-select: none;
  pointer-events: none;
}

.BtnArrowContainerOff {
  opacity: 0;
  pointer-events: none;
  cursor: none;
}

.BtnArrowContainerToStatistic {
  transform: translateY(70dvh);
}
