.edit {
  position: absolute;
  /* top: 50%; */
  right: 0;
  width: 6dvh;
  height: 6dvh;
  /* transform: translate(0); */
  background-repeat: no-repeat;
  /* background-size: 32%; */
  background-position: center;
  background-color: rgba(218, 165, 32, 0.548);
}

.edit {
  background-image: url('/public//buttons/edit.svg');
}

.le {
  background-color: rgba(32, 141, 218, 0.548);
  transition-delay: calc(var(--flop-speed) * 2);
}
