.edit,
.exit,
.editListName,
.tick,
.word,
.translate,
.exitSession,
.tickSession {
  position: absolute;
  /* top: 50%; */
  width: 6dvh;
  min-width: 30px;
  height: 4dvh;
  min-height: 20px;

  /* transform: translate(0); */
  background-repeat: no-repeat;
  background-size: 32%;
  background-position: center;
  /* background-color: rgba(218, 165, 32, 0.548); */

  border-left: 1px solid rgb(129, 129, 129);
  border-right: 1px solid rgb(129, 129, 129);
  border-radius: 8px;
  text-align: center;
}

.edit {
  right: max(4dvw, 20px);
  background-image: url('/buttons/edit.svg');
}
.exit {
  left: max(4dvw, 20px);
  background-image: url('/buttons/exit.svg');
}
.editListName {
  background-image: url('/buttons/edit.svg');
}
.exitSession {
  background-image: url('/buttons/exit.svg');
  left: 0;
}
.tickSession {
  right: 0;
}

.word,
.translate {
  position: fixed;
  top: min(-22dvh, -18ch);
  width: 100px;
}

.word::before,
.translate::before {
  content: '';
  position: absolute;
  left: inherit;
  inset: -16px;
  bottom: -22px;
  /* background-color: rgba(255, 0, 0, 0.274); */
}
.word {
  left: 0;
}

.translate {
  right: 0;
}

.tick,
.tickSession {
  position: absolute;
  background-repeat: no-repeat;
  background-size: 32%;
  background-position: center;
  background-image: url('/buttons/tick.svg');
}

.btnLe {
  /* background-color: rgba(32, 141, 218, 0.548); */
  transition-delay: calc(var(--flop-speed) * 2);
}

.bg-left,
.bg-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  opacity: 0.34;
}

.bg-left {
  border-left: 2px solid var(--text-color);
}
.bg-right {
  border-right: 2px solid var(--text-color);
}
