.container {
  position: absolute;
  top: 72%;
  width: 54dvw;
  min-width: 190px;
  left: 50%;

  transform: translateX(-50%);
  transition: width 0.5s, opacity 1s;
}

.stringContainer {
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.spaceBetween {
  width: 100%;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.value {
  margin-left: 8px;
  justify-content: space-between;
}

.hardes {
  margin-top: 3dvh;
  align-self: center;
  width: 100%;
  justify-content: center;
}

.off {
  width: calc(100dvw + 220px);
  user-select: none;
  pointer-events: none;
}
