:root {
  --height: 48px;
}

.on {
  opacity: 1;
  transition-delay: var(--flop-speed);
  /* visibility: hidden; */
}
.off {
  opacity: 0;
  transition-delay: var(--flop-speed);
  /* visibility: hidden; */
}

.container {
  position: relative;
  height: 10dvh;
  width: 70%;
  min-width: 200px;
  max-width: 600px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  /* background-color: rgba(255, 192, 203, 0.416); */
}

.containerFooter {
  position: absolute;
  height: 156px; /*! random number (need change)*/
  justify-content: start;
  bottom: 0;
  transition: 1s;
}

.containerFooterOff {
  transform: translateY(-156px);
  transition: 1s;
}

/* @media (max-width: 444px) {
  .container {
    width: 290px;
  }
}
@media (min-width: 800px) {
  .container {
    width: 400px;
  }
} */
.left,
.right {
  position: absolute;
  right: 0;
  width: 90px;
  height: var(--height);
  border-left: solid 1px var(--color2);
  border-right: solid 1px var(--color2);
  border-radius: 10px;
}
.left {
  left: 0;
  /* background-color: rgba(255, 0, 0, 0.311); */
}

.right {
  right: 0;
  /* background-color: rgba(0, 128, 0, 0.329); */
}

.focus {
  width: 80%;

  transform: scale(1);
  transition: transform 0.25s, width 0.25s, opacity 0.25s;
}

.defocus {
  width: 16%;
  transform: scale(0.8);
  opacity: 0.7;
  transition: transform 0.25s, width 0.25s, opacity 0.25s;
}
.blur {
  transition: transform 0.25s, width 0.25s, opacity 0.25s;
}

.inputButton,
.inputButtonOff {
  width: 100%;
  font-size: 32px;
  transition: opacity 0.25s, transform 0.25s, width 0.25s;
}
.inputButton {
  position: relative;
  z-index: 1;
  transition: 0.25s;
}

.inputButtonOff {
  user-select: none;
  pointer-events: none;
  opacity: 0;
  transform: scale(0.25);
}

.line {
  padding: 1dvh 0;
  position: absolute;
  left: 50%;
  transform: translate(0, 1dvh); /*? X 50% makes subPixels blur if screen width % 2 == 0 */
  height: var(--height);
  width: 1px;
  max-width: 1px;
  border-radius: 50%;
  background: linear-gradient(to bottom, transparent 0%, #ffffff59 50%, transparent 100%);
  /* background-color: red; */
  z-index: 2;
}

.lineL {
  left: 83%;
  transform: translate(0, 1dvh) scaleY(0.6);
  opacity: 0.4;
  transition: 0.25s;
}
.lineR {
  left: 17%;
  transform: translate(0, 1dvh) scaleY(0.6);
  opacity: 0.4;
  transition: 0.25s;
}
.lineCenter {
  transition: 0.25s;
}
.imgRotStart,
.imgRotEnd {
  position: relative;
  margin-bottom: -50px;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  transition: 0.25s;
  transition-delay: 0.125s;
}
.imgRotStart {
  transform: translate(-50%, -50%) rotate(0);
}
.imgRotEnd {
  transform: translate(-50%, -50%) rotate(180deg);
}
.imgOpacityOff {
  opacity: 0;
}
.tick {
  position: absolute;
  background-repeat: no-repeat;
  background-size: 32%;
  background-position: center;
  background-image: url('/buttons/tick.svg');
}
