.menu {
  height: 100%;
}

.containerList {
  margin-top: var(--list-top-fade-padding);
  width: 100%;
  height: 11dvh; /*! Intention */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  border: dotted 1px red;
  box-sizing: border-box;
  white-space: nowrap;
}
.flopWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flopOn {
  transform: scale(1, 1);
  transition: 0.15s;
  transition-delay: 0.3s;
}
.flopOff {
  transform: scale(0, 0.9);
  transition: 0.3s;
  filter: blur(10px);
}
/*! ISSUE */
.scrollWrapOff::-webkit-scrollbar-thumb {
  background: transparent;
}

.h1 {
  position: relative; /* to position child elements */
  /* background-color: rgba(0, 128, 0, 0.3); */
}
.h2 {
  /* background-color: rgba(237, 237, 38, 0.3); */
}
.h3 {
  /* background-color: rgba(237, 81, 38, 0.3); */
}

.h1,
.h2,
.h3 {
  width: fit-content;
  display: flex;
  flex-direction: row;
}

.h2Text,
.h3Text {
  margin-right: 8px;
}

.lineMenu {
  position: fixed;
  bottom: 0;
}
