.warpLe {
  position: absolute; /*! temp */
  inset: 0;
  min-width: 164px;

  /* background-color: red; */
}

.opacity0 {
  /* display: none; */
  opacity: 0;
  user-select: none;
  pointer-events: none;
}
.opacity1 {
  /* display: none; */
  opacity: 1;
  user-select: all;
  pointer-events: all;
}

.scrollFade {
  position: relative;
  width: 100%;
  height: var(--list-top-fade-padding);

  background: linear-gradient(
    to bottom,
    var(--bg-color) 0%,
    rgba(35, 35, 35, 0.99) 6%,
    rgba(35, 35, 35, 0.6) 60%,
    transparent 100%
  );
  /* background-color: red; */
  z-index: 11;
  backdrop-filter: blur(0.4px);

  /* border: dotted 1px rgb(157, 255, 0);
  box-sizing: border-box; */
}

.scrollWrap {
  position: relative;
  margin-top: calc(var(--list-top-fade-padding) * -1);
  padding-top: var(--list-top-fade-padding);
  height: calc(90dvh - var(--list-top-fade-padding));
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-padding-top: var(--list-top-fade-padding);
}

/*! ISSUE */
.scrollWrapOff::-webkit-scrollbar-thumb {
  background: transparent;
}

.footerWrap {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 156px;
}

