.header {
  position: fixed;
  height: 22dvh;
  width: 100dvw;
  top: 0;
  /* background-color: rgba(255, 0, 0, 0.196); */
}
.body {
  margin: 0;
  padding: 0;
  position: fixed;
  height: 60dvh;
  width: 100dvw;
  top: 22dvh;
  /* background-color: rgba(255, 234, 0, 0.155); */
}
.footer {
  position: fixed;
  height: 18dvh;
  width: 100dvw;
  bottom: 0;
  transition: opacity 0.2s;
}
.footerOff {
  opacity: 0;
  cursor: none;
  pointer-events: none;
}

.settingsBg {
  position: fixed;
  inset: 0;
  background-color: rgba(8, 8, 8, 0.8);
  backdrop-filter: blur(12px);
  transition: 0.5s;
}

.off {
  opacity: 0;
  user-select: none;
  pointer-events: none;
}

.logout {
  padding: 10px 30px;
  position: absolute;
  font-size: 36px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border-radius: 10px;
}
