.settingsBg {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(12px);
  transition: 0.5s;
}

.off {
  opacity: 0;
  user-select: none;
  pointer-events: none;
}

.logout {
  padding: 10px 30px;
  position: absolute;
  font-size: 36px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border-radius: 10px;
}
