.flopWrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*? min space = content = font-size + p(1) */
  justify-content: space-between;
  cursor: pointer;
}

.h1 {
  /* to position child elements */
  /* position: relative; */
  /* background-color: rgba(0, 128, 0, 0.3); */
}
.h2 {
  /* background-color: rgba(237, 237, 38, 0.3); */
}
.h3 {
  /* background-color: rgba(237, 81, 38, 0.3); */
}

.h1,
.h2,
.h3 {
  width: fit-content;
  display: flex;
  flex-direction: row;
}

.h1Empty {
  opacity: 0.4;
}

.h2Text,
.h3Text {
  margin-right: 8px;
}

.attention {
  animation: attention 1s 1 ease-in-out;
}
@keyframes attention {
  0% {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1), 0 0 1px rgba(255, 255, 255, 0.1);
  }
  50% {
    text-shadow: 0 0 80px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1);
  }
  100% {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1), 0 0 1px rgba(255, 255, 255, 0.1);
  }
}

.footer {
  position: relative;
  height: 5dvh;
  width: 100%;
  /* background-color: hotpink; */
}

.scrollTop {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-bottom: 6px solid;
  height: width * sqrt(3) / 2 for an equilateral triangle;

  transform: translate(-50%, -50%);
}

.actArea {
  position: absolute;
  padding: 16px;
  margin: -16px;
  border-radius: 50%;
  /* border: solid 1px red;
  box-sizing: border-box; */
}

.line {
  margin-bottom: -2.4dvh;
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 56dvw;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 50%;
  transition: opacity 0.2s ease;
}
/*! Don't work transition */
.lineOn {
  opacity: 0.1;
}
.lineOff {
  opacity: 0;
}
