@font-face {
  font-family: 'ShareTech-Regular';
  src: url('/fonts/ShareTech-Regular.ttf');
}
#root {
  position: fixed;
  inset: 0;
  padding: 0;
  margin: 0;
}

* {
  -webkit-tap-highlight-color: transparent; /* Для браузеров на основе WebKit, таких как Safari & Chrome */
  overscroll-behavior: none; /* off down swipe refrash */

  /*disable text highlighting */
  user-select: none; /* modern browsers */
  -webkit-user-select: none; /*  Safari */
  -moz-user-select: none; /*  Firefox */
  -ms-user-select: none; /*  IE/Edge */
}

/* flop animation */
.flopOn {
  transform: scale(1, 1);
  transition: var(--flop-speed);
  transition-delay: calc(var(--flop-speed) * 2);
}
.flopOff {
  transform: scale(1.8, 0.25);
  transition: calc(var(--flop-speed) * 2);
  filter: blur(30px);
}
/*! ISSUE */
.flopOff::-webkit-scrollbar-thumb {
  background: transparent;
}
/* scroll off delay */
.scrollWrapOn {
  opacity: 1;
  visibility: visible;
  transition: calc(var(--flop-speed) * 0.5);
}
.scrollWrapOff {
  opacity: 0;
  visibility: hidden;
  transition-delay: calc(var(--flop-speed) * 2);
}

/* temp */
.headerColor {
  /* background-color: rgba(0, 128, 0, 0.08); */
  border: dotted 1px rgba(0, 255, 0, 0.8);
  box-sizing: border-box;
}
.mainColor {
  /* background-color: rgba(255, 255, 0, 0.05); */
  border: dotted 1px rgba(255, 255, 0, 0.8);
  box-sizing: border-box;
}
.footerColor {
  /* background-color: rgba(255, 0, 0, 0.06); */
  border: dotted 1px rgba(255, 0, 0, 0.8);
  box-sizing: border-box;
}
#figmaMenuRef {
  position: fixed;
  inset: 0;
  background-image: url('../public/temp/ref//Menu_phone.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;

  background-position: 50% 0;
  opacity: 0;
}
/* temp */

.color2 {
  color: #d9d9d983;
}
.color3 {
  color: #d9d9d92b;
}
.bg-color3 {
  background-color: #d9d9d92b;
}

:root {
  font-family: 'ShareTech-Regular';

  --bg-color: #232323;
  --color2: #d9d9d983;
  --main-color: #d9d9d9;

  --btn-overscan: 10px;

  --padding: 2px;

  --list-top-fade-padding: 4vh;
  --listLe-top-fade-padding: 2vh;

  --flop-speed: 0.075s;

  line-height: 1.5; /* it's standard settings in Chrome, we set just in case */
  font-weight: 400;

  color-scheme: dark;

  /* turn off auto text weight  */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  /* antialiasing  */
  -webkit-font-smoothing: antialiased;
  /* like antialiasing  */
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  user-select: none;
  position: fixed; /* off scrolling */
  /* place-items: center; */
  background-color: var(--bg-color);
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  /* min size in flex box ⬇️ */
  line-height: 0.95;
}
h1 {
  font-size: max(3.8dvh, 32px);
}
h2 {
  font-size: max(2.2dvh, 18px);
}
h3 {
  font-size: max(1.8dvh, 14px);
}

div {
  color: #d9d9d9;
}

button {
  all: unset;
  cursor: pointer;
}
/* button:hover {
  animation: jetter-buttom 0.4s linear infinite;
} */

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

input {
  border: none; /* Удаление границы */
  background: none; /* Удаление фонового цвета */
  padding: 0; /* Удаление отступов */
  margin: 0; /* Удаление внешних отступов */
  font: inherit; /* Унаследование шрифта родительского элемента */
  box-shadow: none; /* Удаление теней */
  outline: none; /* Удаление обводки при фокусе */
  appearance: none; /* Удаление стандартных стилей браузера для input */
  color: var(--main-color);
  text-align: center;
  /* filter: drop-shadow(rgba(255, 255, 255, 1) 0 0 6px); */
}

/* Ширина и цвет фона скроллбара */
::-webkit-scrollbar {
  width: 6px;
}

/* Цвет трека (фон за ползунком) */
::-webkit-scrollbar-track {
}
/* Внешний вид ползунка */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(255, 255, 255, 0.08) 40%,
    rgba(255, 255, 255, 0.08) 60%,
    transparent 100%
  );
  border-radius: 50%;
}
/* Изменение внешнего вида ползунка при наведении */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(255, 255, 255, 0.2) 40%,
    rgba(255, 255, 255, 0.2) 60%,
    transparent 100%
  );
}

.off {
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

@media only screen and (max-width: 480px) {
  ::-webkit-scrollbar {
    width: 1px;
  }
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

.jetter-attntion {
  animation: jetter-attntion 0.5s ease-out 1;
}
@keyframes jetter-attntion {
  0% {
    scale: 1;
  }
  20% {
    rotate: -15deg;
  }
  40% {
    rotate: 20deg;
  }
  50% {
    scale: 1.4;
  }
  60% {
    rotate: -20deg;
  }
  80% {
    rotate: 15deg;
  }
  100% {
    scale: 1;
  }
}
.buttom-jitter:hover {
  animation: jetter-buttom 0.4s linear infinite;
}
@keyframes jetter-buttom {
  0% {
    scale: 1;
  }
  20% {
    rotate: -2deg;
  }
  40% {
    rotate: 1deg;
  }
  50% {
    opacity: 0.94;
    scale: 1.02;
  }
  60% {
    rotate: -1deg;
  }
  80% {
    rotate: 2deg;
  }
  100% {
    scale: 1;
  }
}
