/**  Couse parrent growing from btn(in random place) all div here must use % for correct open-transition */

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  row-gap: 3%;
  position: absolute;
  top: 4%;
  width: 100%;
  bottom: 0;
}

.importHeader,
.exportHeader {
  display: flex;
  position: relative;
  font-size: 200%;
}

.exportHeader {
  margin-top: 12px;
}

.importHeaderAbout,
.exportHeaderAbout {
  position: absolute;
  right: 0;
  transform: translate(150%);
  height: 100%;
  width: 70%;
  font-size: 60%;

  border-left: 1px solid rgb(129, 129, 129);
  border-right: 1px solid rgb(129, 129, 129);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
}
