.footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  /* background-color: pink; */
}

.lol {
  height: 19dvh;
  /*? (4 + 4 margin) + 11 (lestElement) + ( 10 fork )  */
  /*! broking if window height is < 560px :) */
  transform: translateY(-71dvh);
  transition: transform 0.25s;
}
.menu {
  height: 19dvh;
  transform: translateY(0dvh);
  transition: transform 0.25s;
}

/*? I would like to use a "display block",
but if the element has a block properties it won't have a transition. */
.opacity0 {
  opacity: 0;
  user-select: none;
  pointer-events: none;
  transition: transform 0.25s;
}
.opacity1 {
  user-select: all;
  pointer-events: all;
  transition: transform 0.25s;
}

@media screen and (min-aspect-ratio: 0.75/1) {
  .container {
    max-width: calc(75vh - 72px); /* margin 36+36=72? */
    margin: 12px auto;
  }
}
@media screen and (max-aspect-ratio: 0.42/1) {
  .container {
    min-width: calc(42vh - 72px); /* margin 36+36=72? */
  }
}

@media (max-height: 560px) {
  .container {
    min-height: 536px; /* margin 560-(12+12)? */
    min-width: 164px; /*! random num (need calc it on right way*/
  }
  .header {
    height: 201px;
  }
  .footer {
    height: 134px;
  }
}
